doctype html
html(lang="en")
    head
        title Chat

        script(src='//code.jquery.com/jquery-2.2.1.min.js')

        link(href='/static/style.css', rel='stylesheet')

    body
        h1 Chat

        each message in messages
            div.message
                div= message.date
                div= message.author
                div= message.message

        form#message-form

            #author-field
                label(for='author') Nimi
                input#author(type='text', name='author', value= '', placeholder='sisesta nimi')

            #message-field
                label(for='message') Sõnum
                textarea#message(name='message', placeholder='siia kirjuta sõnum')

            #login-button
                button Sisene

            #submit-button
                button Saada sõnum


        script.

            if(sessionStorage.getItem('userName')) {

                $('#author-field').hide()
                $('#login-button').hide()

            } else {

                $('#message-field').hide()
                $('#submit-button').hide()
                
            }

