doctype html
html(lang="en")
	head
		title Chat
	body
		h1 Chat

		each message in messages
			div
				div= message.date
				div= message.author
				div= message.message

		hr
		form(method='POST')
			div
				label(for='author') Nimi:
				input#author(type='text', name='author', value= '', placeholder='sisesta nimi')
			div
				label(for='message') S천num:
				textarea#message(name='message', placeholder='siia kirjuta s천num')
			div
				button(type='submit') Saada s천num
				button(type='reset') T체hista
